*~
*.bin
*.rom
.direnv
result
zkeme80.8xu
zkeme80.ram-labelmap.json
*.sav
__pycache__/
*.py[cod]
/debug/macros/*.png
/debug/macros/SUITE_RAM
/debug/macros/BEFORE_SUITE_RAM
/debug/macros/AFTER_SUITE_RAM
